* {
    margin: 0;
    padding: 0;
}
video {
    width: 100%;
    height: 1080px;
    object-fit: cover;
    background: red;
}
.header {
    width: 1196px;
    margin-top: 45px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
}
.header>.logo {
    width: 393px;
    position: absolute;
    left: 400px;
    top: -45px;
}
.header>.logo>a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.header>.logo>a>img {
    width: 100%;
    height: 100%;
}
.header>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header>ul>li {
    float: left;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(to bottom,#46018c,#0200a1);
    border-right: 1px solid linear-gradient(to bottom,#24204d,#494794,#1b1638);
    box-sizing: border-box;
}
.header>ul>li:last-child {
    border-right: none;
    background: url('./../images//download2.0.png') no-repeat;
}
.header>ul>li>a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    background-image: url("./../images/nav-itembg.png");
    border-bottom: 2px solid transparent;
    transition: border-color .8s;
}
.header>ul>li>a:hover {
    border-color: #fff;
    box-sizing: border-box;
}
.header>ul>li>a:last-child {
    background-image: none;
}
.header>ul>li:nth-child(2) {
    margin-right: 393px;
}
.main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1080px;
}
.main>.center_title {
    /* width: 1250px;
    height: 344px; */
    position: absolute;
    left: 50%;
    top: 235px;
    transform: translate(-50%);
}

.main>.list {
    width: 1010px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
}
.main>.list>div {
    width: 310px;
    height: 205px;
    /* background: red; */
    position: relative;
}
.main>.list>div:nth-child(1) {
    /* bottom: 120px; */
    animation: move 1s linear 1s normal;
    animation-fill-mode: forwards;
}
.main>.list>div:nth-child(2) {
    animation: move 1s linear 2s normal;
    animation-fill-mode: forwards;
}
.main>.list>div:nth-child(3) {
    animation: move 1s linear 3s normal;
    animation-fill-mode: forwards;
}

@keyframes move {
    from {
        bottom: 0;
    }

    to {
        bottom: 120px;
    }
}
.main>.list>div>p {
    height: 50px;
    background-color: #15112d;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border: 2px solid #2a2658;
    box-sizing: border-box;
}

.main>.list>div>.item {
    width:100%;
    height: 150px;
    border: 2px solid #655fc7;
    box-sizing: border-box;
}
.main>.list>div>.item>img{
    width: 100%;
    height: 100%;
}
.footer {
    width: 100%;
    height: 450px;
    background-color:#0D0017;
    border-top: 2px solid #630D8f;
    position: absolute;
    top: 1080px;
    left: 0;
    padding-top: 125px;
    position: relative;
}
.footer>.center {
    width: 1000px;
    height: 442px;
    margin: 0 auto;
    /* background-color: blue; */
}
.center>.center_top > p {
    height: 30px;
    line-height: 30px;
}
.center>.center_top a {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    margin-left:10px;
}
.center>.center_top a>i {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url('./../images/footer-top.png') no-repeat;
    background-position: -6px -7px;
    margin-right: 10px;
    vertical-align: middle;
}

.center>.center_top a:nth-child(2) >i{
    background-position: -36px -8px;
}

.center>.center_top a:nth-child(3)>i {
    background-position: -6px -100px;
}

.center>.center_top > p >i {
    display: inline-block;
    width: 95px;
    height: 26px;
    background: url(./../images/footer-top.png) no-repeat;
    background-position: -142px -44px;
    vertical-align: top;
}
.center>.center_top>p>span {
    font-size: 12px;
    color: #fff;
    background: #2b0473;
    border: 1px solid #462385;
    margin:0 10px;
}
.center>.center_middle {
    margin-top: 45px;
}
.center>.center_middle>.left>img:nth-child(1) {
    width:131px;
    height: 71px;
}
.center>.center_middle>.left>img:nth-child(2) {
    width:125px;
    height: 38px;
}
.center>.center_middle>.right {
    color: #fff;
    margin-left: 75px;
}
.center>.center_middle>.right>p>a{
    color: #fff;
    text-decoration: none;
}
.center>.center_middle>.right>p>span{
    margin: 0 5px;
}
.center>.center_middle>.right>div {
    margin-top: 15px;
}
.center>.center_middle>.right>div>p {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #8eb1bc;
}
.center_bottom {
    position:absolute;
    left: 50%;
    bottom: 100px;
    transform: translate(-50%);
}
.center_bottom>p {
    width: 100%;
    color: #417aa1;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}